server:
  port: 8083

logging:
  level:
    ROOT: INFO
    br.com.casetecnico: DEBUG
spring: 
  flyway:
    locations:
    - classpath:db/testdata
  jpa:
    database: h2
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl    
  datasource:
    url: jdbc:h2:mem:case-tecnico
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jackson:
    deserialization:
      fail-on-unknown-properties: true
      fail-on-ignored-properties: true
      
  mvc:
    throw-exception-if-no-handler-found: true
  profiles:
    active: test    